<!DOCTYPE html>
<html>
<head>
  
  <title>donation</title>
</head>
<body>
      <h1>donation</h1>
    
        <table border="1">
          <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>donation</td>
            <td>date</td>
            <td colspan="2">Actions</td>
          </tr>
          {%for i in val%}
          <tr>
            <td>{{i.Name}} </td>
            <td> {{i.phone}}</td>
            <td>{{i.Email}} </td>
            <td>{{i.donation}} </td>
            <td>{{i.date}} </td>
            <td> <a href="">DELETE</a></td>             
          </tr>
          {%endfor%}
        </table>
</body>
</html>