<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster</title>
</head>
<body>
    <form method="post">
        {%csrf_token%}
    <table>
        <tr>
            <td>Disaster</td>
            <td><input type="text" name="Disaster" value="{{c.Disaster}}"></td>
        </tr>
        <tr>
            <td>details</td>
            <td><input type="text" name="Details" value="{{c.Details}}"></td>
        </tr>
        <tr>
            <td>location</td>
            <td><input type="text" name="Location" value="{{c.Location}}"></td>
        </tr>
        <tr>
            <td>weather</td>
            <td><input type="text" name="Weather" value="{{c.Weather}}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>



{% extends 'ngo/base.html' %}
{%block body%}
<div class="tbl-div">
    <h2>Edit Resources</h2>
<form id="eventForm"  method="post">
    {%csrf_token%}
      <div class="mb-3">
          <label for="eventName" class="form-label">Disaster</label>
          <input type="text" class="form-control" name="Disaster" value="{{c.Disaster}}">
          <label for="eventName" class="form-label">details</label>
          <input type="text" class="form-control" name="Details" value="{{c.Details}}">
          <label for="eventName" class="form-label">location</label>
          <input type="text" class="form-control" name="Location" value="{{c.Location}}">
          <label for="eventName" class="form-label">weather</label>
          <input type="text" class="form-control"name="Weather" value="{{c.Weather}}">
          <label for="eventName" class="form-label">Image</label><br>
            <img src="{{c.Image.url}}" height="100px" width="80px">
            <input type="file" class="form-control" name="Image" value="{{c.Image}}">
          <button class="btn btn-success" type="submit">save</button>
      </div>

  </form>
  </div>
  {% endblock %}
