<!DOCTYPE html>
<html>
<head>
  
  <title>View Resources</title>
</head>
<body>
      <h1>resources</h1>
    
        <table border="1">
          <tr>
            <td>Name</td>
            <td>details</td>
            <td>quantity</td>
            <td>date</td>
            <td colspan="2">Actions</td>
          </tr>
          {%for i in val%}
          <tr>
            <td>{{i.Name}} </td>
            <td> {{i.Details}}</td>
            <td>{{i.Quantity}} </td>
            <td>{{i.Date}} </td>
            <td> <a href="/edit_ngoResource/{{i.id}}">EDIT</a>
             <a href="/dlt_resource/{{i.id}}">DELETE</a></td>             
          </tr>
          {%endfor%}
          <tr>
            <td colspan="5" align="center">
              <a href="addResource">add resources</a>
            </td>
          </tr>
         </table>
</body>
</html>