<!DOCTYPE html>
<html>
<head>
  
  <title>View Resources</title>
</head>
<body>
      <h1>resources</h1>
    
        <table border="1">
          <tr>
            <td>Name</td>
            <td>details</td>
            <td>quantity</td>
            <td>date</td>
            
          </tr>
          {%for i in val%}
          <tr>
            <td>{{i.Name}} </td>
            <td> {{i.Details}}</td>
            <td>{{i.Quantity}} </td>
            <td>{{i.Date}} </td>
          </tr>
          {%endfor%}
         </table>
</body>
</html>