<!DOCTYPE html>
<html>
<head>
  
  <title>Volunteer</title>
</head>
<body>
      <h1>Volunteers</h1>
    
        <table border="1">
          <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Phone</td>
            <td>Email</td>
            <td>address</td>
            <td>Skill</td>
            <td>Status</td>

          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td> 
            <td> </td>            
           
          </tr>
        </table>
</body>
</html>