<!DOCTYPE html>
<html>
<head>
  
  <title>Disater updates</title>
</head>
<body>
      <h1>Disaster Updates</h1>
    
        <table border="1">
          <tr>
            <td>image</td>
            <td>disaster</td>
            <td>details</td>
            <td>location</td>
            <td>weather</td>
            <td colspan="2">Actions</td>
          </tr>
          {%for i in val%}
          <tr>
            <td><img src="{{i.Image.url }}"></td>
            <td>{{i.Disaster}} </td>
            <td> {{i.Details}}</td>
            <td>{{i.Location}} </td>
            <td>{{i.Weather}} </td>
            <td> <a href="/edit_ngoDisaster/{{i.id}}">EDIT</a></td>
            <td> <a href="/disaster_delete/{{i.id}}">DELETE</a></td>             
          </tr>
          {%endfor%}
          <tr>
            <td colspan="5" align="center">
              <a href="addngodisaster">add disaster</a>
            </td>
          </tr>
        </table>
</body>
</html>