<!DOCTYPE html>
<html>
<head>
  
  <title>Volunteer</title>
</head>
<body>
      <h1>Volunteers</h1>
    
        <table border="1">
          <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Phone</td>
            <td>Email</td>
            <td>address</td>
            <td>Skill</td>
            <td>Status</td>
            <td colspan="2">Actions</td>
          </tr>
          {%for i in val%}
          <tr>
            <td>{{i.Name}} </td>
            <td> {{i.age}}</td>
            <td>{{i.Gender}}</td>
            <td>{{i.Phone}} </td>
            <td>{{i.Email}} </td>
            <td>{{i.Address}} </td>
            <td>{{i.Skill}} </td>
            <td>{{i.Status}} </td>
            <td> 
              <a href="/active_volunteer/{{i.id}}">active</a>
              <a href="/inactive_volunteer/{{i.id}}">inactive</a>
            
            </td>             
          </tr>
          {%endfor%}
        </table>
</body>
</html>