{% extends 'ngo/base.html' %}
{%block body%}
<!-- Main Content -->
<div class="tbl-div">
  <div class="content container-fluid">
      <div class="container-fluid mt-4">
          <h2 class="mb-4">View task NGO</h2>
          <div class="table-responsive">
            <table class="table user-table table-striped">
              <thead>
                <tr>
                    <th>Task_no</th>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {%for i in val%}
                  <tr>
                    <td>{{i.Task_no}}</td>
                    <td>{{i.Task}}</td>
                    <td>{{i.Date}}</td>
                    <td>{{i.Time}}</td>
                    
                    <td>
                    {% if i.Status == 'pending' %}
                    <a href="/view_volunteer/{{i.id}}" class="btn btn-danger">Assign</a>
                    {% elif i.Status == 'verify' %}
                    <a href="/TaskCompleted/{{i.id}}" class="btn btn-danger">Completed</a>
                    {% else %}
                    {{i.Status}}
                    {% endif %}
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>
{%endblock%}