<!DOCTYPE html>
<html>
<head>
  
  <title>Add and manage Skills</title>
</head>
<body>
      <h1>Add and manage skills</h1>
    
        <table border="1">
          <tr>
            <td>skill</td>
          </tr>
          {% for i in val %}
          <tr>
            <td>{{i.skill}} </td>
              <td> <a href="/editSkill/{{i.id}}">EDIT</a></td>
            <td><a href="/delete_skill/{{i.id}}">DELETE</a></td> 
            </tr>
            {%endfor%}
             <tr>        
            <td><a href="addskill">add new skill</a></td>          
          </tr>
        </table>
</body>
</html>