<!DOCTYPE html>
<html>
<head>
  
  <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>
        <br>
        <a href="/ManageNGO">Manage NGO</a>
        <br>
        <a href="/volunteer">View Volunteers</a>
        <br></table>
        <a href="/user">View User</a>
        <br>
        <a href="/ViewDonation">View donation</a>
        <br>
        <a href="/disasterupdate">view disaster Updates</a>
        <br>
        <a href="/viewcomplaints">complaints and reply</a>
        <br>
        <a href="/addnmanageskill">Add and manage volunteer skills</a>
    
    </p>
</body>
</html>