<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
    <table>
        <tr>
            <td>Disaster</td>
            <td><input type="text" name="Disaster" value="{{c.Disaster}}"></td>
        </tr>
        <tr>
            <td>details</td>
            <td><input type="text" name="Details" value="{{c.Details}}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td>
                <img src="{{c.Image.url}}" width="100", height="60">
                <input type="file" name="Image" value="{{c.Image}}"></td>
        </tr>
        <tr>
            <td>location</td>
            <td><input type="text" name="Location" value="{{c.Location}}"></td>
        </tr>
        <tr>
            <td>weather</td>
            <td><input type="text" name="Weather" value="{{c.Weather}}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>