{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="signup-container">
    <!-- Left Section -->
    <div class="info-section">
      <h2>New here?</h2>
      <p>Create an account and join us today.<br> Together, we can achieve more!</p>
      <p>Already have an account? <a href="login">click here to login</a></p>
    </div>
    <!-- Right Section -->
    <div class="form-section">
      <h2>SIGNUP</h2>
      <form method="post">
        {%csrf_token%}
        <input type="text" placeholder="username" name="username" required>
        <input type="text" placeholder="name" name="Name" required>
        <input type="email" placeholder="Email" name="Email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="tel" placeholder="Phone no" name="Phone" required>
        <input type="service" placeholder="service" name="Service" required>
        <input type="specialization" placeholder="specialization" name="Specialization" required>
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>
</body>
</html>
