

{% extends 'administrator/base.html' %}
{%block body%}
<div class="tbl-div">
    <h2>Edit Skills</h2>
<form id="eventForm" action="/editSkill/{{c.id}}" method="post">
    {%csrf_token%}
      <!-- Name -->
      <div class="mb-3">
          <label for="eventName" class="form-label">skill</label>
          <input type="text" class="form-control"  name="skill" value="{{c.skill}}">
          <button class="btn btn-success" type="submit">save</button>
      </div>

  </form>
  </div>
  {% endblock %}