


{% extends 'administrator/base.html' %}
{%block body%}
<!-- Main Content -->
<div class="tbl-div">
  <div class="content container-fluid">
    <div class="container-fluid mt-4">
      <div class="head">
        <h2 class="mb-4">Disater updates</h2>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventModal">Add New
        Disaster updates</button>
      </div>
      <div class="table-responsive">
        <table class="table user-table table-striped">
          <thead>
            <tr>
              <th>image</th>
              <th>disaster</th>
              <th>details</th>
              <th>location</th>
              <th>weather</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for i in val %}
            <tr>
            <td><img src="{{i.Image.url}}" width="100", height="60"></td>
            <td>{{i.Disaster}} </td>
            <td> {{i.Details}}</td>
            <td>{{i.Location}} </td>
            <td>{{i.Weather}} </td>
              <td> <a class="btn btn-warning" href="/editDisaster/{{i.id}}">EDIT</a>
                <a class="btn btn-danger" href="/disasterdelete/{{i.id}}"
                  onclick="return confirm('are you sure?')">DELETE</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Event Registration Modal -->
  <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Add new Disaster updates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="eventForm" action="/addisaster" enctype="multipart/form-data" method="post">
                  {%csrf_token%}
                    <!-- Name -->
                    <div class="mb-3">
                        <label for="eventName" class="form-label">Disaster</label>
                        <input type="text" class="form-control" name="Disaster" value="{{c.Disaster}}">
                        <label for="eventName" class="form-label">details</label>
                        <input type="text" class="form-control"name="Details" value="{{c.Details}}">
                        <label for="eventName" class="form-label">Image</label>
                        <input type="file" class="form-control"name="Image" value="{{c.Image}}">
                        <label for="eventName" class="form-label">location</label>
                        <input type="text" class="form-control" name="Location" value="{{c.Location}}">
                        <label for="eventName" class="form-label">weather</label>
                        <input type="text" class="form-control" name="Weather" value="{{c.Weather}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="eventForm">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}
